.wrapper {
  background-color: #ebf9f8;
  border: 3px solid #a84f5b;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 4px 8px;

  .title {
    color: #a84f5b;
    text-align: center;
  }

  .error {
    color: red;
  }

  .reload {
    cursor: pointer;
    color: #0077ff;
  }

  .errorInfo {
    color: black;
    margin-top: 8px;
  }
}
