@import '../../variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;

  .link {
    flex: 0 0 168px;
  }
  
  .title {
    font-size: 24px !important;
    line-height: 32px !important;
    color: $maincolor !important;
    margin-bottom: 0 !important;
    cursor: pointer;
  }
  
  .menu {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #001529;
  }
  
  .menuItem {
    display: block;
    margin: 0 !important;
    height: 64px !important;
    line-height: 64px !important;
    color: $secondarycolor;
    padding: 0 16px;
    transition: color 0.15s, background-color 0.3s;

    &:hover {
      color: $maincolor;
      background-color: #1890ff;
    }

    span {
      margin-right: 5px;
    }
  }

  .menuItem.selected {
    color: $maincolor;
    background-color: #1890FF;
  }
  
  .burgerBtn {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none !important;
    }
  
    .menu.active {
      display: flex !important;
      position: absolute;
      right: 0px;
      top: 64px;
      flex-direction: column;
      justify-content: start;
      width: 200px;
      height: 100vh;
    }
  
    .menuItem {
      height: 40px !important;
      line-height: 40px !important;
      margin: 4px 0 !important;
      padding: 0 32px 16px !important;
    }
  
    .burgerBtn {
      display: block;
      color: $maincolor !important;
      font-size: 24px;
    }
  }
}

