.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px !important;
}

.header__menu {
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.header__menuItem {
  margin: 0 !important;
  height: 64px !important;
  line-height: 64px !important;
}

.header__burgerBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menu {
    position: absolute;
    right: -200px;
    top: 64px;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 100vh;
  }

  .header__menu.active {
    right: 0;
  }

  .header__menuItem {
    height: 40px !important;
    line-height: 40px !important;
    margin: 4px 0 !important;
  }

  .header__burgerBtn {
    display: block;
    color: #fff !important;
    font-size: 24px;
  }
}
