.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px !important;
  position: sticky;
  top: 0;
  z-index: 10;

  &__link {
    flex: 0 0 168px;
  }
  
  &__title {
    font-size: 24px !important;
    line-height: 32px !important;
    color: #fff !important;
    margin-bottom: 0 !important;
    cursor: pointer;
  }
  
  &__menu {
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
  
  &__menuItem {
    margin: 0 !important;
    height: 64px !important;
    line-height: 64px !important;
  }
  
  &__burgerBtn {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    &__menu {
      display: none !important;
    }
  
    &__menu.active {
      display: block !important;
      position: absolute;
      right: 0px;
      top: 64px;
      flex-direction: column;
      justify-content: start;
      width: 200px;
      height: 100vh;
    }
  
    &__menuItem {
      height: 40px !important;
      line-height: 40px !important;
      margin: 4px 0 !important;
    }
  
    &__burgerBtn {
      display: block;
      color: #fff !important;
      font-size: 24px;
    }
  }
  
}

