@import '../../variables';

.main {
  background: rgb(241, 241, 248);
  min-height: 100vh;
  .headerTotalSum {
    text-align: center;
  }

  .body {
    display: flex;
    margin: 0 0.5rem;

    @media screen and (max-width: 1400px) {
      display: flex;
      flex-flow: row wrap;
    }

    @media screen and (max-width: 769px) {
      display: flex;
      flex-direction: column;
    }

    .card {
      width: 25%;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1400px) {
        width: 50%;

        &:last-child,
        &:nth-last-child(2) {
          padding-bottom: 1rem;
        }
      }

      @media screen and (max-width: 769px) {
        width: 100%;

        &:last-child {
          padding-bottom: 1rem;
        }
      }

      .elemHeader {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        margin: 0.75rem 0;
        text-transform: capitalize;
      }

      .elem {
        overflow: auto;
        background-color: $maincolor;
        display: flex;
        flex-direction: column;
        max-height: 82vh;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /*Hide scrollbar for Firefox */

        .listItem {
          padding: 0.5rem;
          border-bottom: 1px solid #eee;

          .meta {
            align-items: center !important;
          }

          .img {
            width: 3rem;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
      .elem::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
      }

      .makeColumnTall {
        flex: 1 1 auto;
        background-color: $maincolor;
      }
    }
  }
}
