.sider {
  background-color: white !important;
  z-index: 8;

  .menu {
    position: -webkit-sticky;
    position: sticky; 
    top: 64px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menuItem {
    overflow: hidden;
  }

  .menuLink {
    display: block;
    color: #000000d9;
    height: 40px !important;
    line-height: 40px !important;
    margin: 4px 0 !important;
    padding: 0 16px !important;

    &:hover {
      color: #1890ff;
    }

    span {
      margin-right: 5px;
    }
  }

  .menuLink.selected {
      color: #1890ff;
      background-color: #e6f7ff;
      border-right: 3px solid #1890ff;
  }
    
  .burgerBtn {
    position: absolute;
    height: 40px;
    right: -24px;
    top: 4px;
    display: none;
    color: #fff;
    background-color: #001529;
    font-size: 24px;
    cursor: pointer;
    z-index: 10 !important;
  }
    
  .burgerBtn span {
    margin-top: 7px;
  }
}

@media screen and (max-width: 576px) {
  .sider {
    position: absolute !important;
    height: 100%;

    .burgerBtn {
      display: block;
    }
  }
}