.main_content {
  background: rgb(182, 182, 211);
}

.briefcase_header__totalSum {
    text-align: center;
}

.briefcase_body {
    display: flex;
}

.briefcase_body__elem {
    width: 25%;
    margin: 1rem;
    height: 100%;
}

.briefcase_body__elem__header {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .briefcase_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .briefcase_body__elem {
        width: 90%;
        height: 100%;
       margin: 1rem auto;
    }
  }